.block-language-d2 {
  border: var(--border-width) solid var(--background-modifier-border);
  border-radius: var(--radius-s);
  overflow: hidden;
}

.block-language-d2:has(svg) {
  aspect-ratio: 4 / 3;
  cursor: pointer;
}

.block-language-d2:has(svg):active {
  cursor: grabbing;
}

.block-language-d2 .d2-loading,
.block-language-d2 .d2-error {
  margin: var(--size-4-3);
  background-color: var(--background-primary);
}

.block-language-d2 svg {
  display: block;
}
