.block-language-d2 {
  border: var(--border-width) solid var(--background-modifier-border);
  border-radius: var(--radius-s);
  overflow: hidden;
}

.block-language-d2:has(svg) {
  cursor: pointer;
}

.block-language-d2:has(svg.ratio16-9) {
  aspect-ratio: 16 / 9;
}
.block-language-d2:has(svg.ratio4-3) {
  aspect-ratio: 4 / 3;
}
.block-language-d2:has(svg.ratio1-1) {
  aspect-ratio: 1 / 1;
}
.block-language-d2:has(svg.ratio3-4) {
  aspect-ratio: 3 / 4;
}
.block-language-d2:has(svg.ratio9-16) {
  aspect-ratio: 9 / 16;
}

.block-language-d2:has(svg):active {
  cursor: grabbing;
}

.block-language-d2 .d2-loading,
.block-language-d2 .d2-error {
  margin: var(--size-4-3);
  background-color: var(--background-primary);
}

.block-language-d2 svg {
  display: block;
}

.d2-setting-input-width {
  width: var(--size-4-12);
}
